**/bin
**/obj
*.userprefs
*.csproj.user
MSDevsHK.Website/certs/cert.crt
MSDevsHK.Website/certs/cert.pfx
MSDevsHK.Website/wwwroot/lib
MSDevsHK.Website/wwwroot/**/*.css.map
MSDevsHK.Website/wwwroot/**/*.min.css
MSDevsHK.Website/wwwroot/**/*.min.css.map
MSDevsHK.Website/wwwroot/**/*.min.js