MSDevsHK.Website/bin
MSDevsHK.Website/obj
MSDevsHK.Website/wwwroot/lib
MSDevsHK.Website/wwwroot/**/*.css.map
MSDevsHK.Website/wwwroot/**/*.min.css
MSDevsHK.Website/wwwroot/**/*.min.css.map
MSDevsHK.Website/wwwroot/**/*.min.js